<div class="pos-f-t navbar navbar-expand-lg navbar-light bg-light sticky-top  "> 
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand d-none d-sm-none d-md-none d-lg-inline" href="#">
      <img src="../../assets/home.svg" width="30" height="30" class="d-inline-block align-top  " alt="">
      <p class="d-none d-sm-none d-md-none d-lg-inline">
        PlaceBuy
      </p>
    </a>

    <div class="d-md-inline d-lg-none">
        <a href="#">
            <button type="button" class="btn btn-outline-light">
              <img src="../../assets/users.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </button>
          </a>
          <a href="#">
            <button type="button" class="btn btn-outline-light">
                <img src="../../assets/shopping-cart.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </button>
          </a>
    </div>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
        <div>
            <a href="#">
              <button type="button" class="btn btn-outline-light">
                <img src="../../assets/users.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              </button>
            </a>
            <a href="#">
              <button type="button" class="btn btn-outline-light">
                  <img src="../../assets/shopping-cart.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              </button>
            </a>
          </div>
    </div>  
    
</div>


